@model rlnews.ViewModels.UserViewModel

@{
    ViewBag.Title = "Settings";
}

<div class="rl-header">
    <div class="sm-container text-center">
        <h1>Account Settings</h1>
    </div>
</div>

<div class="container">
    <div class="col-md-12">
        <h2>Update Account Details</h2>
        <hr/>
    </div>
</div>