@{
    ViewBag.Title = "Home Page";
}
<section class="headlines clearfix">
    <div class="col-left">
        <div class="rl-header">
            <div class="sm-container">
                <h1>News Headlines</h1>
                <p>for the Rugby Super League and the Championship</p>
            </div>
        </div>
        <div class="feed-options">
            <div class="sm-container">
                <a class="active-option">All News</a>
                <a>Super League</a>
                <a>Championship</a>
                <a>Challenge Cup</a>
                <div class="option-divider"> | </div>
                <a>Create Feed <i class="fa fa-plus"></i></a>
                <select>
                    <option>Latest News</option>
                    <option>Past 24h</option>
                    <option>Past Week</option>
                    <option>Past Month</option>
                    <option>Past Year</option>
                </select>
                <label><i class="fa fa-filter"></i> Filter:</label>
            </div>
        </div>
        <div class="sm-container">
            <div class="titlebar">
                <h2>All News - Latest</h2>
                <p class="feed-update">Last Updated: 5 minutes ago</p>
            </div>
            <div class="news-feed">
                <div class="news-item item-first">
                    <div class="item-img">
                        <a href="http://www.bbc.co.uk/sport/0/rugby-league/33426644">
                            <img src="../../Assets/img/item.jpg" class="img-responsive img-rounded" />
                        </a>
                    </div>
                    <div class="item-content">
                        <a href="http://www.bbc.co.uk/sport/0/rugby-league/33426644"><h3 class="item-link">St Helens v Huddersfield (Fri)</h3></a>
                        <p>Team news as St Helens host Huddersfield Giants in Friday's Super League fixture at Langtree Park (20:00 BST).</p>
                        <p><a href="#" class="source">BBC Sport</a> - 2 hours ago</p>
                    </div>
                    <div class="item-options">
                        <div class="pull-right">
                            <a href="#" class="share-btn">Share <i class="fa fa-share-alt"></i></a>
                            <a href="#" class="favourite-btn"><i class="fa fa-star"></i></a>
                            <a href="#" class="expand-btn"><i class="fa fa-angle-double-down"></i></a>
                        </div>
                    </div>
                </div>
                @for (var i = 0; i < 14; i++)
                {
                    <div class="news-item">
                        <div class="item-img">
                            <a href="http://www.bbc.co.uk/sport/0/rugby-league/33426644">
                                <img src="../../Assets/img/item.jpg" class="img-responsive img-rounded" />
                            </a>
                        </div>
                        <div class="item-content">
                            <a href="http://www.bbc.co.uk/sport/0/rugby-league/33426644"><h3 class="item-link">St Helens v Huddersfield (Fri)</h3></a>
                            <p>Team news as St Helens host Huddersfield Giants in Friday's Super League fixture at Langtree Park (20:00 BST).</p>
                            <p><a href="#" class="source">BBC Sport</a> - 2 hours ago</p>
                        </div>
                        <div class="item-options">
                            <div class="pull-right">
                                <a href="#" class="share-btn">Share <i class="fa fa-share-alt"></i></a>
                                <a href="#" class="favourite-btn"><i class="fa fa-star"></i></a>
                                <a href="#" class="expand-btn"><i class="fa fa-angle-double-down"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <footer class="rl-footer clearfix">
            <div class="sm-container">
                <div class="col-md-4">
                    <a href="home" class="footer-brand">RLNews <i class="fa fa-rss"></i></a>
                </div>
                <div class="col-md-4 footer-copy">
                    <p>Copyright &copy; @DateTime.Now.Year - RLNews.co.uk</p>
                </div>
                <div class="col-md-4 social-links">
                    <a><i class="fa fa-facebook"></i></a>
                    <a><i class="fa fa-twitter"></i></a>
                    <a><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </footer>
    </div>
    <div class="col-right">
        <div class="side-container">
            <div class="top-headlines">
                <h3>Top Headlines</h3>
                @for (var i = 1; i < 6; i++)
                {
                    <div class="top-item clearfix">
                        <div class="col-md-2">
                            <div class="item-num">
                                <span>@i</span>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="item-content">
                                <a href="http://www.bbc.co.uk/sport/0/rugby-league/33426644">
                                    <h4 class="item-link">St Helens v Huddersfield (Fri)</h4>
                                </a>
                                <p><a href="#" class="source">BBC Sport</a> - 2 hours ago</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="rl-advert">
                <h3>Become a premium RLNews member today!</h3>
                <a href="" class="advert-btn"><i class="fa fa-star"></i>Get Premium</a>
            </div>
            <div class="upcoming-fixtures">
                <h3>Upcoming Fixtures <a href="#">View all <i class="fa fa-angle-double-right"></i></a></h3>
                @for (var i = 0; i < 3; i++)
                {
                    <div class="fixture clearfix">
                        <div class="col-md-2">
                            <img class="img-responsive img-rounded" src="../../Assets/img/teams/logos/wakefield.gif" alt="" />
                        </div>
                        <div class="col-md-8 text-center">
                            <h4>Wakefield Vs Warrington</h4>
                            <p>12/07/15 - 3:30 KO</p>
                        </div>
                        <div class="col-md-2">
                            <img class="img-responsive img-rounded" src="../../Assets/img/teams/logos/wolves.gif" alt="" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

